src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:x-road="http://www.mulesoft.org/schema/mule/x-road" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/x-road http://www.mulesoft.org/schema/mule/x-road/current/mule-x-road.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd"
>

<context:property-placeholder location="automation-credentials.properties" />
    <x-road:x-road name="X_Road__Configuration" clientMemberClass="COM" clientMemberCode="1060155-5" clientSubsystemCode="mule" clientXroadInstance="FI-DEV" endpointUrl="http://solilipa01.solita.fi/" serviceMemberClass="GOV" serviceMemberCode="0245437-2" serviceSubsystemCode="TestService" serviceXroadInstance="FI-DEV" userId="test" doc:name="X-Road: Configuration"/>
 
	<flow name="send-message" >
	        <set-payload value="#['&lt;ns2:helloService xmlns:ns2=&quot;http://test.x-road.fi/producer&quot;&gt;&lt;request&gt;&lt;name&gt;FI-DEV/COM/1060155-5/mule@Solita!&lt;/name&gt;&lt;/request&gt;&lt;/ns2:helloService&gt;']" doc:name="Set helloService payload"/>
	        <mulexml:xml-to-dom-transformer doc:name="XML to DOM" returnClass="org.w3c.dom.Document"/>
	    
	        <x-road:send-message config-ref="X_Road__Configuration" doc:name="X-Road" serviceServiceCode="helloService" serviceServiceVersion="v1"/>
	       
    </flow>


</mule>
